<!DOCTYPE HTML>

<!-- <img src="{{ url_for('static', filename='assets/images/')}}" alt = "Responsive Image" class = "img-thumbnail" >  -->

<html>
  <head>
      <title> ARGUS: Find YOUR Senator Today </title>
      <meta charset="utf-8" >
      <meta name="viewport" content="width=device-width, initial-scale=1" >
      <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" >
      <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/skel.min.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
      <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
    </head>
  </head>
  <body>

    <!-- Header -->
      <header id="header" class="alt">
        <div class="logo"><a href="index.html">Argus: <span>Which Senators Do You Align With?</span></a></div>
        <a href="#menu">Menu</a>
      </header>

    <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="{{ url_for('app.bills') }}">Bills</a></li>
          <li><a href="{{ url_for('app.values') }}">Values</a></li>
          <li><a href="{{ url_for('app.senators') }}">Senators</a></li>
          <li><a href="{{ url_for('app.signup') }}">Register</a></li>
          <li><a href="{{ url_for('app.login') }}">Login</a></li>
        </ul>
      </nav>

    <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <header>
            <h1>Welcome to ARGUS</h1>
            <p>Find your Senator today! Scroll down for information on some trending senators </p>
          </header>
          <a href="{{ url_for('app.values') }}" class="button big scrolly">Take The Quiz</a>
        </div>
      </section>

    <!-- Main -->
      <div id="main">

        <!-- Section -->
          <section class="wrapper style1">
            <div class="inner">
              <!-- 2 Columns -->
                <div class="flex flex-2">
                  <div class="col col1">
                    <div class="image round fit">
                      <a href="generic.html" class="link"><img src="{{ url_for('static', filename='assets/images/Cory-Booker.jpg')}}" alt = "Responsive Image" class = "img-thumbnail" ></a>
                    </div>
                  </div>
                  <div class="col col2">
                    <h3>Senator Cory Booker</h3>
                    <p>New Jersey Senator</p>

                    <p>Senator Booker has established himself as an innovative and bipartisan problem-solver committed to developing collaborative solutions that address some of our most complex challenges. Whether it's advocating for more federal resources to modernize New Jersey's transportation system, securing funds to continue the long recovery from Superstorm Sandy, or ensuring that our communities are safe from the effects of pollution and climate change, Booker has proven his steadfast commitment to standing up for what matters most to New Jerseyans. 

                    <p>Booker has also emerged as a national leader in the Congressional push for common sense criminal justice reform, advocating for front-end sentencing reforms, pushing for the banning of juvenile solitary confinement in federal facilities, and spearheading legislation to make the hiring process fairer for the formerly incarcerated. Booker has also partnered with colleagues on both sides of the aisle to create a number of economic proposals, from increased small business investment to apprenticeship programs, with the hope of fostering greater economic mobility and opportunity for individual Americans. </p>

                    <a href="{{ url_for('app.values') }}" class="button">Learn More</a>
                  </div>
                </div>
            </div>
          </section>

        <!-- Section -->
          <section class="wrapper style2">
            <div class="inner">
              <div class="flex flex-2">
                <div class="col col2">
                  <h3>Senator Mitch McConnell</h3>
                  <p>Kentucky Senator</p>>
                  <p>Mitch McConnell is the Senate Majority Leader. Elected to that position unanimously by his Republican colleagues first in 2014 and again in 2016 and 2018, he is only the second Kentuckian to ever serve as Majority Leader in the U.S. Senate. The first, Senator Alben Barkley, led the Democrats from 1937 to 1949.</p>
                  <p>Senator McConnell has served, again by the unanimous vote of his colleagues, as the Republican Leader since the 110th Congress. He is the longest-serving Senate Republican Leader in the history of the United States. McConnell previously served in leadership as the Majority Whip in the 108th and 109th Congresses and as chairman of the National Republican Senatorial Committee during the 1998 and 2000 election cycles.</p>
                  <a href="{{ url_for('app.values') }}" class="button">Learn More</a>
                </div>
                <div class="col col1 first">
                  <div class="image round fit">
                    <a href="{{ url_for('app.values') }}" class="link"><img src="{{ url_for('static', filename='assets/images/mitch-mcconnell.jpg')}}" alt = "Responsive Image" class = "img-thumbnail" ></a>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <!-- Section -->
          <section class="wrapper style1">
            <div class="inner">
              <header class="align-center">
                <h2>Additional Senators</h2>
              </header>
              <div class="flex flex-3">
                <div class="col align-center">
                  <div class="image round fit">
                    <img src="{{ url_for('static', filename='assets/images/Bernie-Sanders-2007.jpg')}}" alt = "Responsive Image" class = "img-thumbnail" >
                  </div>
                  <p>Bernie Sanders - Vermont Senator </p>
                  <a href="{{ url_for('app.values') }}" class="button">Learn More</a>
                </div>
                <div class="col align-center">
                  <div class="image round fit">
                    <img src="{{ url_for('static', filename='assets/images/Elizabeth-Warren.jpg')}}" alt = "Responsive Image" class = "img-thumbnail" >
                  </div>
                  <p>Elizabeth Warren - Massachusetts Senator </p>
                  <a href="values.html" class="button">Learn More</a>
                </div>
                <div class="col align-center">
                  <div class="image round fit">
                    <img src="{{ url_for('static', filename='assets/images/Ted-Cruz.jpg')}}" alt = "Responsive Image" class = "img-thumbnail" >
                  </div>
                  <p>Ted Cruz - Texas Senator </p>
                  <a href="{{ url_for('app.values') }}" class="button">Learn More</a>
                </div>
              </div>
            </div>
          </section>

      </div>

    <!-- Footer -->
      <footer id="footer">
        <div class="copyright">
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
          </ul>
          <p>&copy; ARGUS </p>
        </div>
      </footer>

    

  </body>
</html>
